* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    font-size:18px;
    height: 100vh;
    font-weight: 400;
    position: relative;
    display: flex;
}

.calc {
    box-sizing: border-box;
    margin: auto;
    height: 420px;
    width: 280px;
    border: 15px solid  rgba(207, 204, 204, 0.8);
    border-radius: 10px;
    background-color: rgba(207, 204, 204, 0.6);
}

.display{
    height: 80px;
    color: black;
    font-weight: bold;
    background-color:  rgba(61, 58, 58, 0.5);
    border: 0.5px solid rgb(34, 33, 32);
    border-radius: 7px;
    margin-bottom: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0 10px 20px rgba(207, 204, 204, 0.5), 0 3px 3px rgba(0,0,0,3.23); 
    overflow: hidden;
  }

  .display .first-operand {
      color: rgba(255, 255, 255,);
      font-size: 16px;
  }

  .display .second-operand {
    color: rgba(255, 255, 255, );
    font-size: 30px;
}


  .keys {
    height: 280px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(4, 1fr); 
  }

  .digit, .operator, .delete {
      height: 56px;
      background-color:  rgba(245, 243, 243, 0.938);
      border-radius: 7px;
      border: 0.5px solid rgb(34, 33, 32);
      font-size: 20px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      margin: 2px;
      outline: none;
      box-shadow: 0 10px 20px rgba(207, 204, 204, 0.5), 0 3px 3px rgba(0,0,0,3.23);
      cursor: pointer;
  }

  .reset, .equal_to {
    height: 56px;
    background-color:  rgba(245, 243, 243, 0.938);
    border-radius: 10px;
    border: 0.5px solid rgb(34, 33, 32);
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 2px;
    outline: none;
    box-shadow: 0 10px 20px rgba(207, 204, 204, 0.5), 0 3px 3px rgba(0,0,0,3.23);
    cursor: pointer;

  }

.reset {
    grid-column: span 2;
}

.equal_to {
    grid-column: span 2;
}

.operator:hover {
    color: rgb(0, 0, 0);
    background: rgb(174, 243, 174);
}
 
.reset:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(212, 135, 135)
}
.delete:hover {
    color: rgb(0, 0, 0);;
    background: rgba(207, 204, 204, 0.3);
}

.digit:hover {
    color: rgb(0, 0, 0);;
    background: rgba(207, 204, 204, 0.3);
}
.equal_to:hover {
    color: rgb(0, 0, 0);;
    background: rgb(174, 243, 174);
}
